* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Merriweather;
}

section {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroBanner {
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('images/Banner Image.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 20px;
}

.heroText {
    width: 632px;
    height: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subTitle {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}

/* discount section start  */
#discount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 802.9px;
    height: 806px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discountTitle {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    margin-bottom: 48px;
}

.discountSubTitle {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

.discountInfo {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0 48px 0;
}

.discountImg {
    width: 802.9px;
    height: 500px;
}

/* PartySection Start  */
#party {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partyBanner {
    background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.textImgContainer {
    display: flex;
    align-items: center;
}

.partyText {
    padding: 126px 0 140px 126px;
}

.partyTitle {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    width: 500px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}

.partyDescription {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 48px;
}

.partyImg {
    width: 350px;
    height: 465px;
    padding: 68px 110px 68px 0;
}

.btn1 {
    background-color: transparent;
    border: none;
}

.btn1 a {
    font-family: Inter;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/* announce section start  */
.announceContainer {
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    padding: 100px 385px 215px 385px;
}

.announceText {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.place,
.date,
.time {
    color: rgb(255, 0, 0);
}

/* coming soon section start  */
.comingSoonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column1 {
    width: 393px;
}

.column2 {
    width: 463px;
}

.column3 {
    width: 276px;
}

.cscSubTitle {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.cscTitle {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.cscDescription {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.cscimg {
    background-image: url(images/Ellipse\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 463px;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cscimg img {
    width: 364.84px;
    height: 364.84px;
}

.column3 h2 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
}

.column3 p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-top: 37px;
    margin-bottom: 43px;
}

.column3 img {
    width: 140px;
    height: 140px;
}

/* Holiday sale start  */
.saleContainer {
    background-image: url(images/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 1320px;
    height: 987px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.saleTexts {

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saleSubTitle {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

.saleTitle {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    text-align: center;
}

.saleTitle span {
    color: rgb(255, 0, 0);
}

.saleDescription {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    padding: 0 266px;
    margin-bottom: 64px;
}

.saleImages {
    display: flex;
    justify-content: space-around;
}

.saleImages .imgLeft {
    /* width:674.82px;
    height:577.96px; */
}

.saleImages .imgRight {
    width: 305.69px;
    height: 305.69px;
}

/* portfolio section start  */

.portfolioContainer {
    display: flex;
    flex-direction: column;
}

.portfolioText {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.portfolioSubTitle {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.portfolioTitle {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolioDescription {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-right: 424px;
    margin-bottom: 48px;
}

.portfolioGallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.portfolioGallery img {
    width: 424px;
    height: 450px;
}

/* newsletter section start */
#newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletterContainer {
    padding: 80px 212px 0 212px;
    text-align: center;
}

.newsImg {
    width: 150px;
    height: 150px;
}

.newsTitle {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;

    text-align: center;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 22px;
}

.newsDescription {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    text-align: center;
}

.emailSubmit {
    margin: 0 336px 80px 336px;
    display: flex;
    padding-bottom: 80px;


}

.email {
    width: 648px;
    height: 72px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px 0 0 50px;
    padding-left: 30px;
}

input::placeholder {
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.subscribe {
    width: 210px;
    height: 72px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 0 50px 50px 0;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

/* Footer SEction Start  */

#footer {
   padding-top: 120px;
   padding-bottom: 120px;
    background-color: #070211;
}

.fotterContainer {
    /* min-width: 1320px; */
    display: flex;
    flex-direction: column;
    padding: 0 300px;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.r1L {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}

.r1R {
    display: flex;
    flex-direction: column;
}
.footericonText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}



.footericonText a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}
.row2 {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}
.row2 img{
    width: 64px;
    height: 64px;
}

.row3 {
    display: flex;
    justify-content: space-between;
}

.r3R,
.r3L {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

    text-align: left;
}

.r3 {
    text-align: right;
}

hr {
    margin: 48px 0;
    border: none;
    border-top: 1px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    

}